.news-pagination-controls {
  display: flex;
  align-items: center;
  position: relative;
  height: 105px;
}

.dots {
  display: flex;
  gap: 0.8rem;
}

.dot {
  width: 8px;
  /* small dot */
  height: 8px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;
}

.previous-arrow {
  margin-right: auto;
}

.next-arrow {
  margin-left: auto;
}

.arrow img {
  width: 8px;
  height: 23px;
}