.news-container {
  display: flex;
  flex-direction: column;
  padding: 100px 62px 0 62px;
  gap: 1rem;
}

.news-section {
  display: flex;
  flex-direction: row;
}

.left-image {
  flex: 0 0 25%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left-content h2 {
  font-size: 26px;
  margin-top: auto;
}

.left-content img {
  width: 126px;
  height: 104px;
  margin-top: 80px;
  height: auto;
}

.left-image img {
  max-width: 100%;
  height: auto;
}

.news {
  display: flex;
  flex-direction: column;
  height: 546px;
}

.news-items {
  flex: 1;
  display: flex;
  gap: 91px;
  justify-content: space-between;
}

.news-card {
  flex: 1;
  display: none;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.news-card.active {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

.news-card.slide-out-left {
  transform: translateX(-100%);
  opacity: 0;
}

.news-card.slide-out-right {
  transform: translateX(100%);
  opacity: 0;
}

.news-card.slide-in-left {
  transform: translateX(-100%);
  opacity: 0;
}

.news-card.slide-in-left.active {
  transform: translateX(0);
  opacity: 1;
}

.news-card.slide-in-right {
  transform: translateX(100%);
  opacity: 0;
}

.news-card.slide-in-right.active {
  transform: translateX(0);
  opacity: 1;
}

.news-card img {
  width: 100%;
  max-width: 600px;
  height: 360px;
  object-fit: cover;
}

.news-card p {
  margin-top: 15px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  max-width: 600px;
}

.news-footer {
  position: relative;
  margin-top: 1rem;
}

.news-line {
  border: none;
  border-top: 2px solid grey;
  width: 100%;
}

.see-more {
  height: 26px;
  width: 120px;
  position: absolute;
  right: 0;
  top: 9px;
  background-color: black;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.see-more:hover {
  background-color: #333;
}