.left-content img {
    margin-top: auto !important;
}

.left-content-subtitle {
    font-size: 16px;
    font-weight: bold;
    padding: 56px 0;
}

.left-section {
    flex: 0 0 25%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.left-section img {
    max-width: 100%;
    height: auto;
}

.left-content-subtitle-large {
    color: #005880;
    padding: 56px 0 0 0;
}

.left-content-social {
    display: flex;
    gap: 39px;
    padding: 56px 0 0 0;
}

.left-content-social a {
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: black;
}

.left-content-links-group {
    margin-bottom: 26px;
}

.left-content-links {
    padding: 56px 0 0 0;
}

.left-content-links-group-links {
    font-size: 16px;
    font-weight: bold;
}

.left-content-links-group-link {
    padding: 18px 0;
}

.department {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.department-menu {
    position: relative;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.department-menu-item {
    cursor: pointer;
    font-size: 16px;
    border: 2px solid grey;
    border-top: none;
    text-align: center;
    width: 152px;
    height: 40px;
    align-content: center;
}

.department-menu-item:hover {
    background: black;
    color: white;
}

.department-content-container {
    margin-top: 64px;
    margin-bottom: 64px;
}

.department-content {
    font-size: 16px;
    line-height: 32px;
}

.department-content p {
    font-size: 16px;
    line-height: 32px;
    margin-top: 24px;
}

.department-content-line {
    margin-top: 32px;
    margin-bottom: 32px;
}