.search-container {
  position: relative;
  display: inline-block;
}

.search-input {
  position: absolute;
  top: 0px;
  right: 66px;
  width: 450px;
  padding: 0.5rem;
  border: 2px solid #ccc;
  font-size: 0.85vw;
  z-index: 1000;
  background: white;
}

.search-input.hidden {
  display: none;
}
